.venv/
__pycache__/
*.pyc
.pytest_cache/
dist/
build/
*.egg-info/

# IDEs
.idea/
*.iml

# Ignore the atlas directory by default...
.atlas/

# ...but make exceptions for files we DO want to track.
!/.atlas/cfg.json
!/.atlas/llm_cfg.json
!/.atlas/summaries/
